/* RESET */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

/* BODY */
body {
    background: #0d0d0d;
    color: #e6e6e6;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #111;
    border-bottom: 1px solid #222;
}

.logo {
    font-size: 50px;
    /* bigger font */
    font-weight: 700;
    /* bold */
    color: wheat;
    letter-spacing: 1.5px;
    /* premium spacing */
    padding: 8px 15px;
    /* adds size around logo */
    background: rgba(180, 79, 255, 0.12);
    /* subtle purple glow box */
    border-radius: 8px;
    /* smooth rounded shape */
    border: 1px solid rgba(180, 79, 255, 0.25);
    /* light outline */
    box-shadow: 0 0 12px rgba(180, 79, 255, 0.25);
    /* soft glow */
    transition: 0.3s;
}

.logo:hover {
    box-shadow: 0 0 18px rgba(180, 79, 255, 0.45);
    transform: scale(1.03);
}


.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: #ccc;
    transition: 0.3s;
}

.navbar a:hover {
    color: var(--primary);
}

/* HERO SECTION */
.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(135deg, #7a1dd8, #4b007a);
    color: white;
    background-color: #8811e2;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 22px;
    margin-top: 10px;
}

.hero button {
    padding: 20px 30px;
    font-size: 20px;
    margin-top: 20px;
    background: #0d0d0d;
    color: #7a1dd8;
    border: 2px solid #7a1dd8;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}

.hero button:hover {
    background: #7a1dd8;
    color: black;
    background-color: wheat;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    flex-wrap: wrap;
}

.box {
    width: 260px;
    background: #111;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #1f1f1f;
    box-shadow: 0 0 25px rgba(180, 79, 255, 0.12);
    transition: 0.3s;
}

.box:hover {
    transform: translateY(-6px);
    box-shadow: 0 0 35px rgba(180, 79, 255, 0.25);
}

.box h3 {
    color: #7a1dd8;
    margin-bottom: 10px;
}

.box p {
    font-size: 18px;
}

/* INFO SECTION */
.info {
    text-align: center;
    padding: 60px 20px;
    background: #0f0f0f;
    border-top: 1px solid #1c1c1c;
}

.info h2 {
    color: v#7a1dd8;
    font-size: 32px;
}

.info p {
    margin-top: 10px;
    color: #bbb;
    font-size: 18px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #111;
    color: #888;
    border-top: 1px solid #222;
}