
* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}


body {
    background: #0d0d0d;
    color: #e6e6e6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #111;
    
}

.logo {
    font-size: 50px;
    
    font-weight: 700;
    
    color: wheat;
    letter-spacing: 1.5px;
    
    padding: 8px 15px;
    
    background: rgba(180, 79, 255, 0.12);
    
    border-radius: 8px;
    
    border: 1px solid rgba(180, 79, 255, 0.25);
    
    
    
    transition: 0.3s;
}

.logo:hover {
   
    transform: scale(1.03);
}


.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: #ccc;
}




.hero {
    text-align: center;
    padding: 120px 20px;
    
    color: white;
    background-color: #8811e2;
}

.hero h1 {
    font-size: 50px;
}

.hero p {
    font-size: 22px;
    margin-top: 10px;
}

.hero button {
    padding: 20px 30px;
    font-size: 20px;
    margin-top: 20px;
    background: #0d0d0d;
    color: #7a1dd8;
    border: 2px solid wheat;
    cursor: pointer;
    border-radius: 6px;
    font-weight: bold;
    transition: 1s;
}

.hero button:hover {
   
    color: black;
    background-color: wheat;
}


.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    
}

.box {
    width: 260px;
    background: #111;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #1f1f1f;
    box-shadow: 0 0 25px rgba(180, 79, 255, 0.12);
    transition: 0.3s;
}

.box:hover {
    transform: translateY(6px);
    box-shadow: 0 0 35px rgba(180, 79, 255, 0.25);
}

.box h3 {
    color: #7a1dd8;
    margin-bottom: 10px;
}

.box p {
    font-size: 18px;
    color: white;
}


.info {
    text-align: center;
    padding: 60px 20px;
    background: #0f0f0f;
    border-top: 1px solid #1c1c1c;
}

.info h2 {
    
    font-size: 32px;
}

.info p {
    margin-top: 10px;
    color: #bbb;
    font-size: 18px;
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}


footer {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    background: #111;
    color: #888;
    border-top: 1px solid #222;
}
